<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- ESTILOS CSS -->

    <link rel="stylesheet" href="/assets/css/footer-header.css" />

    <!-- SCRIPTS -->

    <script defer src="/assets/js/menuHamburguesa.js"></script>
    <script defer src="/assets/js/carritoClick.js"></script>

    <!-- ICONOS -->

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Footer -->

    <footer class="centrar margin-top">
      <img src="/assets/img/logo.jpeg" class="footer-logo" />

      <ul class="margin-top links-footer">
        <li><a href="#">Política de envíos</a></li>
        <li><a href="#">Política de cambios, devoluciones y garantías</a></li>
        <li><a href="#">Términos y condiciones</a></li>
      </ul>
      <hr class="linea margin-top" />
      <p class="margin-top">
        &copy; Bandidos San Juan | Desarrollado por ComCode
      </p>
    </footer>
  </body>
</html>
